In [1]:
# !pip3 install utils

In [2]:
import pandas as pd

import config as cfg
from metric_builder import _load_yaml_preset
from report import build_experiment_report
import time

In [3]:
logger = cfg.logger
start_time = time.time()

In [4]:
# скачайте отдельно https://drive.google.com/file/d/1f-HM6v5HQFrQ8Rn8DmWz9G4NF4uTbo4x/view?usp=share_link
# df = pd.read_parquet(f'data/parquet/df.parquet')

# Мини-версия таблицы с данными по эксперименту, количество строк = 10000
df = pd.read_csv("data/csv/df_sample.csv")
logger.info("Data loaded")

[2023-07-18 23:12:13] - AB Pipeline - INFO - Data loaded

In [5]:
df.head()

,Unnamed: 0,date,experiment_name,experiment_variant,event_name,user_pseudo_id,basket_id,session_id,revenue,timestamp,...,pg_cost_delivery,pg_cost_donation,pg_cost_original_total,pg_cost_original_delivery,pg_bonus_card,pg_voucher,filter_source,name,days_between,order_id
0,7854227,2022-06-27,202569574395405584945673903672822337874,3,NaN,99CA80D85767F03378A94545D3B3C63C,AA6121EB897F87E2A66A29266A3B2E18.3,165635665699CA80D85767F03378A94545D3B3C63C,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,make_order,NaN,NaN
1,7503845,2022-07-09,202569574395405584945673903672822337874,0,view_shipping_info,30CB76C9409866013C261559DBA0C79F,BB584FF35D59B88322914A89D42FC30B.1,165739573630CB76C9409866013C261559DBA0C79F,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5697869,2022-07-10,202569574395405584945673903672822337874,1,view_shipping_info,D641CF3DB22F1D685C890196E5A0E816,6C88267A809CA0BAA35F63D694719FB0.14,1657467918D641CF3DB22F1D685C890196E5A0E816,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10091858,2022-07-02,202569574395405584945673903672822337874,0,NaN,95FBC1844EAFCD4E9CC9B6032CB10EFC,CD0460A986959B86AC9F8414C40596C2.4,165677151395FBC1844EAFCD4E9CC9B6032CB10EFC,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,9981015,2022-07-01,202569574395405584945673903672822337874,0,view_shipping_info,73F293DFB0BA7AAF60656DC92F15D13F,73790EE0220425555C4560643F92F9FB.3,165665109773F293DFB0BA7AAF60656DC92F15D13F,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
experiment_report = build_experiment_report(
    df=df,
    metric_config=_load_yaml_preset(preset='todo')
)

[2023-07-18 23:12:15] - AB Pipeline - INFO - Average Revenuer Per User Without Cancelllations
0.3578962743580151 35.02924049114791 292.70846221739595 1751.0 26.45235567274801 258.49055012005715 1754.0
[2023-07-18 23:12:17] - AB Pipeline - INFO - Average Order Value
nan 1.0 0.0 1751 1.0 0.0 1754
[2023-07-18 23:12:19] - AB Pipeline - INFO - Canceled Orders per Orders
[2023-07-18 23:12:21] - AB Pipeline - INFO - Average Revenue per Paying User Without Cancelation

In [7]:
experiment_report

,metric_name,mean_0,mean_1,var_0,var_1,delta,lift,pvalue,statistic
0,Average Revenuer Per User Without Cancelllations,35.02924,26.452356,85678.243854,66817.364501,-8.576885,-0.244849,0.357896,9.195022e-01
0,Average Order Value,1.00000,1.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN
0,Canceled Orders per Orders,1.00000,1.000000,0.000000,0.000000,0.000000,0.000000,0.520526,6.425354e-01
0,Average Revenue per Paying User Without Cancel...,35.02924,26.452356,85678.243854,66817.364501,-8.576885,-0.244849,0.513617,1.540130e+06

In [8]:
experiment_report

,metric_name,mean_0,mean_1,var_0,var_1,delta,lift,pvalue,statistic
0,Average Revenuer Per User Without Cancelllations,35.02924,26.452356,85678.243854,66817.364501,-8.576885,-0.244849,0.357896,9.195022e-01
0,Average Order Value,1.00000,1.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN
0,Canceled Orders per Orders,1.00000,1.000000,0.000000,0.000000,0.000000,0.000000,0.520526,6.425354e-01
0,Average Revenue per Paying User Without Cancel...,35.02924,26.452356,85678.243854,66817.364501,-8.576885,-0.244849,0.513617,1.540130e+06

In [9]:
# experiment_report.to_csv(f"experiment_report.csv")

cfg.logger.info(time.time() - start_time)

[2023-07-18 23:12:21] - AB Pipeline - INFO - 7.8676371574401855